// Unity
.idea/
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Temp/
obj/
Library/
Builds/
Logs/

// FMOD
Assets/FMODStudioCache.asset
Assets/StreamingAssets/*.bank
fmod.log
fmod_editor.log
FmodProject/.cache
Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset.meta

// Paid libraries
Assets/ProCamera2D
